@{
    ViewBag.Title = "Modelos a seguir";
}

<div id="envelope">

    <h2>Abaixo os exemplos iniciais e explicações:</h2>


    <div id="links">

        <ul>
            <li><a href="#">Lista Paginada </a></li>           
            <li><a href="#">Login</a></li>
            <li><a href="#">Cascading drop-down list</a></li>
            <li><a href="#">Google API</a></li>
            <li><a href="#">Telerik components</a></li>
            <li><a href="#">Jqgrid</a></li>
            <li><a href="#">Ajax - Json</a></li>
            <li><a href="#">Web Services</a></li>

        </ul>


    </div>



</div>

