@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <div style="text-align:center;">
        <h2>Sistema em MVC - microsoft C# e base Mysql </h2>
        <p>Nome.: Rafael Sanchez Portal</p>
        <p> Tel.:  11-984213689</p>
        <p>Email.: rafysanchez@hotmail.com</p>

    </div>



</div>