@{
    ViewBag.Title = "Rafael Sanchez Portal";
}


<link href="~/Content/Geral.css" rel="stylesheet" />

<div class="jumbotron">
    <div class="container" style="text-align:center;">
        <h2>Sistema em MVC - microsoft C# e base Mysql </h2>
        <p>Nome.: Rafael Sanchez Portal</p>
        <p> Tel.:  11-984213689</p>
        <p>Email.: rafysanchez@hotmail.com</p>

    </div>


</div>
<div class="container" style="font-family:Arial, Helvetica, sans-serif;">

<div id="curriculo">
    <p>
       <h2> Curriculum  Vitae</h2>  
        <h3>
            Desenvolvedor C# Net-VBA-VB6<br />
            Rafael Sanchez Portal<br />
            CEL (11)949678051<br />
            Email: rafysanchez@hotmail.com<br />
            https://br.linkedin.com/pub/rafael-sanchez-port/86/626/b05<br />
        </h3>
    </p>   

    <p> <span class="destaque">  Formação Básica:</span> Graduação em Lógica de programação USP/2002, Economia PUC –2001 – certificação MVA  ASP – WEB UFPE – 2003 – SQL Server 2014 – VSNET 2010-2013 – MVA Microsoft 2014 – SQL Server 2008 r2 em 2014.</p> 

    <p> <span class="destaque">  Objetivo:</span> Gerir, Analisar ou Codificar sistemas com C# ou VBNET- VB6  utilizando ferramentas Microsoft, manutenções diversas nos dados em base SQL Server ou Oracle em modo alocação no cliente ou Home Office.</p>

    <p>
        <span class="destaque">  Qualificações:</span> Desenvolvedor  C#  MVC -VBNET- VBA com prática de gestão de equipes.  SQL Server , HTML5, CSS3, JAVASCRIPT, JQUERY  UI – TFS, WCF. Produtos do setor financeiro, SWAPP, Derivativos, Renda Fixa. Produtos do setor de Seguros residencial- veículos.
</p>  
    <p><span class="destaque">  Línguas:</span> Inglês e Espanhol, leitura e conversação – nível fluente.</p>
    


  <h3> <span class="destaque"> Descritivo Detalhado das empresas que trabalhei ou prestei serviços de TI:</span></h3> 

    <p>
        -<span class="destaque">
    JSL – Logística de transportes (abril 2015 – hoje) </span> - Desenvolvedor sênior  - MVC com C# SQl Server – Oracle – Ajax/Json – Telerik – Ado Entity – ORM – TFS - THREADS.
    Atividade: Atualizar-desenvolver  interface MVC – SQL Server-oracle, controle de fluxo de cargas e  sistema rastreador de frota. MVC responsivo, com Jquery-Ajax no front end, C# com sistema de OOP  e ADO Entity no backend. Utiliza Google API para geolocalização dos caminhões que possuem celular acoplado para geo-posicionamento, estes enviam suas posições para WEB Services, que recebem e atualizam as posições dos caminhões em base Oracle e SQL server. No aplicativo de controle MVC, telas com chamadas Ajax, Json-Jquery carregam os dados recebidos.Telas com componentes Telerik (Views) garantem qualidade superior de apresentação e velocidade. Procedures em Oracle e SQL Server, views e alterações de campos em tabelas, atualização da Entity, foram criadas para completar demaisa tarefas de suporte do sistema. O sistema utilizou paralelismo para garantir eficiência com alto volume de dados – milhões de registros de posicionamento ao dia.
</p>
    <p>
        <span class="destaque">  -V2pro E-commerce (março a maio de 2015)</span> Home Office – Sistema em WebForms, C#, base de dados Sql Server. Desenvolvimento interfaces com javascript e jquery, bootstrapp, da camada de negócios Bussness Layer, e  nos formulários  WEB. Desenvolvi as chamadas Ajax/WebService,  para envio de dados da tela e recebimento (Json) dos dados pedidos do carrinho de vendas com cartão de crédito (classes C#). Efetuei rotinas C# para receber os dados das telas e armazenar em SQL server. Desenvolvi controle de status de pedidos via WebService (asmx) conectado com transportadora. Tecnologias: C#, HTML5, CSS3, BOOTSTRAPP, Ajax, Jquery, webservice, Visual Studio 2012 com ADO NET. Javascript+Jquery na telas e C# no backend + SQL Server.
</p> 
    <p>
        <span class="destaque">   -HP do Brasil  Serviços/ITAU (abril 2014 a março de 2015)</span> Desenvolvedor C# - Sql Server com ADO NET– Visual Studio 2010 com TFS e WCF, metodologia Scrumm. Manutenção de sistema MVC de cálculo financeiro (M6) banco Itaú, alteração de rotinas SQL classes em VBnet e C#. Detalhes: O sistema M6 do banco Itaú, C# SQL Server, é um sistema parte MVC, parte WebForms, parte Winforms, Classes de cálculos financeiros, produtos da bolsa BMF ou aplicações financeiras e estima a lucratividade do banco por produto e por operação. Minha tarefa foi levantar detalhes da tarefa junto ao cliente, levar a fábrica a fim de codificar/alterar se  necessário, métodos, classes e tabelas, formulários, procedures e views SQL Server de modo a adequar produtos novos para o banco Itaú ou corrigir erros de cálculo ou falhas em rotinas existentes. Com MS-SSIS os dados são extraídos das bases e recalculados e armazenados – utilizando VS10, com SQL Server fornecem  a lógica do negócio e por fim é apresentado em diversos formatos para o usuário. Uso de TS-SQL e correção ou modificação nas tabelas, views e stored procedures, para as novas operações.
</p>
    <p>
        <span class="destaque">
            -Colorado S/A Indústria (dezembro 2011 a fevereiro 2014) </span> Desenvolvedor PJ VBA VB6 VBNET.
            Distribuidora de rolamentos para veículos de passeio e máquinas agrícolas. Desenvolvimento e modernizar ERP próprio com Winforms ou Webforms, VBnet, classes em C# ou com base de dados SQL Server 2008 R2 . Manter em aplicativos antigos em VB6 com SQL Server – ADO. Manter e reformar relatórios VBA ,Cristal Reports para vendas – importação e  estoques - Sistema de Nota fiscal VB6 Sql Server. Desenvolvi todos os aplicativos de controle contábil em VB6/ Crystal Reports 8.5/ SQL Server.
            De início desenvolvi uma solução em Vb6 para integrar vendas com notas fiscais eletrônicas, implantei uma rede windows 2008 server, em cluster,  com segurança de usuários e perfis, implantei uma nova base de dados em sql server 2008 R2, integrada nas interfaces office de  diferentes setores, importação, vendas, estoque, representantes, etc. A seguir criei programas robôs em C# para automatizar correção de erros de cadastro e alertar via email a direção de ações em descontos dados pelos gerentes. Criei rotinas de manutenção e backup do sistema inteiro bem como utilizei as ferramentas do SQL Server para otimização da base de dados.
            No setor de estoques desenvolvi um subsistema para  controle quantitativo e de giro de estoques. Foi criado um sistema de fluxo de caixa e melhorei relatórios de importação.
            Treinei o pessoal mais antigo para operar em rotinas diárias que passaram a envolver entrada e saída de mercadorias via código de barras onde antes os controles eram manuais. Redução estimada em custos para empresa de cerca 200 mil reais ao ano, no total 800 mil reais. As tecnologias usadas seguiram os princípios OOP, com as regras de negócios em camadas separadas da interface do usuário – Design Patterns.
</p>
    <p>
        <span class="destaque">
            -Liberty Seguros – (janeiro 2009 a dezembro 2011) </span> Desenvolvedor NET PJ por Stefannini emprodutos de Seguros e Resseguros.
            Manutenção e desenvolvimento de sistemas Webforms  C# com SQL SERVER – composto de interfaces  para controle da área de seguros residencial e veículos. Alteração nas Bibliotecas de resseguros.  Remodelagem das telas dos usuários para cotarem seguros e criação da área do cliente externa para consultas diversas. Coletados dados ASPX, armazenagem em SQL Server, tratamentos para relatórios com stored procedures, views, telas de usuário, Usei TFS e enfim a integração da codificação com componentes Vb6.
</p>
    <p>
        <span class="destaque">
            - Credicard S/A Financeiro- (abril/2008 até janeiro/2009)</span>
            Cargo: Desenvolvedor Sênior VB6 – SQL Server para Desktop com relatórios Crystal Reports 8.5 visando atendimento ao usuário da área financeira – aplicações e mercado de ações.  Desenvolvi para Credicard America, um aplicativo para relatórios de despesas internas. Da arquitetura a execução. VB6 com SQL Server.
</p>
    <p>
        <span class="destaque">
            - Citibank S/A Financeiro – (Maio/2007 até fevereiro/2008) </span> VB6 – ORACLE – Crystal Reports 8.5 .
            Detalhes: No ambiente de produção, alterar telas dos funcionários da mesa de aplicativos financeiros do Citibank para ajustes nas informações a enviar e receber. Desenvolvimento e manutenção de ferramentas financeiras  para mesa de aplicações do grupo, para produtos de renda fixa, derivativos e swap – pessoa jurídica, e contratos diversos.
            Tecnologia : ORACLE , SQL Server, XML, VB6 ADO e DAO, relatórios em Crystal Reports 7. Manutenção e criação em Stored Procedures  e functions.
</p> 
    <p>
        <span class="destaque">
            - Banco Real  S/A Financeiro – junho 2006 – abril 2007</span>
            Cargo: Desenvolvedor Sênior VB6 - VBA com SQL Server  - Access – Excel
            Desenvolvimento de ferramentas de análise gerencial, para direção do Banco Real, com dados referentes a performance por agência, região, etc. Desenvolvimento de sistema de controle de cartão de crédito do banco com relatórios acerca do desempenho mensal e anual e plurianual com atualização automática dos dados.
</p> 
    <p>
        <span class="destaque">   - Unibanco – Itaú Financeiro – via BSI – fábrica de software – dezembro 2005 – junho 2006 ( VB6  - Oracle)</span> Detalhes – Extração dos dados da base, via interfaces VB6 e emissão de relatórios ou resultados em tela(Crystal).
</p>
    <p>
        <span class="destaque">   - Altana Pharma  Industria Farmacêutica– fevereiro 2005 – novembro 2005(Desenvolvedor  VB6 SQL Server)</span> manutenção no sistema e implementação de novas funcionalidades para gestão e controle de vendas.
</p>
    <p>
        <span class="destaque"> - Impacta Cursos de Informática – novembro de 2004 - fevereiro – 2005</span> VB6 com SQL Server)
</p>
    <p>
        <span class="destaque">  - General Mortors  - EDS – junho 2004 - fevereiro – 2005 </span> VB6 com Oracle – manutenções em relatórios de controle financeiro interno da diretoria – ajustar telas ASP a novas funcionalidades do grupo .
</p>
    <p>
        <span class="destaque">   - Rolls Roice Brasil </span> consultoria em qualidade e design de sistemas – retificação de erros de conexão no acesso a dados, sitemas emVB6 SqlServer.
</p> 
    <p><span class="destaque">  - Grupo Gerdau Norte S/A</span> – desenvolvimento de sistemas VBA e ASP net - janeiro – 2003 - maio 2004 , VB – VBA – Access – Excel – ASP clássico - VB6 SqlServer.</p> 





</div>



</div>
